*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 320px) {
    .container {
      width: 100%;
    }
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
   
  }
  @media screen and (max-width: 950px) {
    .icon{
        display: block;
        position: absolute;
        margin-left:340px;
        padding-top: 22px;

    }
    .mainlist *{
        display: none;
    }
  }
    
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.navbar{    
    width: 100%;
    position: fixed;
    background:#fafafa ;
    order: 1;
    top: 0;
    left: 0;
}
.icon{
position: relative;
margin-top: -4%;
/* margin-left: 110%; */
display: none;
}
.nav-content{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo {
    display: flex;
    align-items: center;

}

.logo p img {
    width: 7%;
}

.logo p {
    font-size: 30px;
    font-weight: bold;
}

/* .list {
   display: none;
} */

.mainlist {
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.mainlist li {
    list-style-type: none;
    color: rgb(0, 0, 15);
    cursor: pointer;
    padding: 20px ;
    font-size: 20px;
    font-weight: bold;
}

.mainlist li a {
    color: rgb(0, 0, 15);
    text-decoration: none;
    white-space: nowrap; 
}

.mainlist .icon {
    display: none;
    color: black;
    
}

.mainlist li:last-child span{
    background-color: blue;
    border-radius: 25px;
    color: white;
    border: 2px solid blue;
    padding: 15%;
}

.first {
    
    margin-top: 7%;
    order: 0;
}

.sectiontwo{
    display: flex;
    justify-content: space-between;
}

.img1 {
    width: 50%;
}

.img1 img {
    width: 90%;
}

.img2{
    width: 50%;
    
}

.img2 img {
    width: 100%;
}

.second {
    display: flex;
    margin-top: 5%;
}

.sec-1 {
    width: 55%;
    /* margin-left: 15%; */
    /* margin-top: 4%; */
}

.sec-1 p {
    padding: 3%;
    color: rgb(47, 47, 97);
    font-size: 20px;

}

.sec-1 p span {
    font-weight: bold;
    font-size: 19px;
    color: rgb(47, 47, 97);

}

.sec-1 h5 {
   padding-left: 3%; 
   color: blue;
   font-weight: bold;
}

.sec-1 h2 {
    padding-left: 3%;
    padding-bottom: 3%;
    color: rgb(47, 47, 97);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec-2 {
    width: 28%;
    height: 400px;
    background-color: white;
    align-items: center;
    margin-left: 15%;
    /* margin-top: 5%; */
    border: 1px solid rgb(119, 117, 117);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.para {
    padding: 3%;
    margin-top: 5%;
    color: rgb(47, 47, 97) !important;
    font-weight: bold;
    font-size: 20px;
}

.sec-2 p {
    padding: 1.8%;
    color: blue;
    margin: 4%;
    position: relative;
}

.sec-2 p i { 
    margin-left: 15%;
    left: 0;
    position: absolute;
    left: 210px;
}

.third {
    margin-top: 4%;
}

.header h3 {
    color: blue;
    margin-left: 40%;
}

.header h2 {
    font-weight: bold;
    margin-left: 32%;
    padding: 1%;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header p{
    margin-left: 30%;
    width: 45%;
    text-align: center;
    margin-top: 1.5%;
}

.container333 {
    display: flex;
}


.container-1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    margin: 3.5%;
}

.container-1 img{
    height: 50%;
    width: 100%;
    border: 3%;
}

.container-1 p{
    width: 95%;
    font-size: 20px;
    padding: 2%;
}

.container-2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    margin: 3.5%;
}

.container-2 img{
    height: 50%;
    width: 100%;
    border: 3%;
}

.container-2 p{
    width: 95%;
    font-size: 20px;
    padding: 2%;
}

.container-3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    margin: 3.5%;
}

.container-3 img{
    height: 50%;
    width: 100%;
    border: 3%;
}

.container-3 p{
    width: 95%;
    font-size: 20px;
    padding: 2%;
}

.third button {
    background-color: blue;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin-left: 40%;
    margin-top: 7%;
    color: white;
}

.note {
    border-bottom: 5px solid rgb(133, 133, 241);
}

.fourth {
    margin-top: 4%;
}

.header-a h3 {
    color: blue;
    margin-left: 40%;
    font-size: 15px;
}

.header-a h2 {
    margin-left: 33%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
    font-size: 35px;
}

.header-a p {
    margin-left: 30%;
    width: 50%;
    text-align: center;
}

.containertwo {
    display: flex;
    margin-top: 10%;
}

.container-a{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 35%;
    height: 200px;
    position: relative;
    margin: 3.5%;
}

.container-a img{
    border-radius: 50%;
    width: 25%;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(84, 52, 226, 0.692), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -40px;
    position: absolute;

}

.container-a h5 {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    padding: 3%;
}

.container-a p {
    padding: 3%;
    font-size: 18px;
}

.container-a p span {
    font-weight: bold;
}

.container-b{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 35%;
    height: 200px;
    position: relative;
    margin: 3.5%;
}

.container-b img{
    border-radius: 50%;
    width: 25%;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(84, 52, 226, 0.692), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -40px;
    position: absolute;

}

.container-b h5 {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    padding: 3%;
}

.container-b p {
    padding: 3%;
    font-size: 18px;
}

.container-b p span {
    font-weight: bold;
}

.container-c{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 35%;
    height: 200px;
    position: relative;
    margin: 3.5%;
}

.container-c img{
    border-radius: 50%;
    width: 25%;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(84, 52, 226, 0.692), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -40px;
    position: absolute;

}

.container-c h5 {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    padding: 3%;
}

.container-c p {
    padding: 3%;
    font-size: 18px;
}

.container-c p span {
    font-weight: bold;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom p {
    width: 60%;
}

.bottom p i {
    font-size: 35px;
    color: blue;
}

.bottom a {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 25px;
    width: 25%;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.fifth {
    margin-top: 6%;
}

   .container-5 {
    display: flex;
    margin-top: 8%;
    justify-content: space-between;
   } 

.header-5 h3 {
    margin-left: 40%;
    color: blue;
    font-size: 16px;
    font-weight: bold;
}

.header-5 h2 {
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 36.3%;
    font-size: 30px;
    padding: 1%;
}

.header-5 p {
    margin-left: 24%;
    text-align: center;
    width: 55%;
}

.firstsection img {
    border-radius: 50%;
    width: 60%;
    margin-left: 11%;
}

.firstsection h5 {
    font-weight: bold;
    padding: 4% 0;
    font-size: 18px;
}

.firstsection p {
    width: 80%;
    text-align: center;
}

.secondsection img {
    border-radius: 50%;
    width: 60%;
    margin-left: 11%;
}

.secondsection h5 {
    font-weight: bold;
    padding: 4% 0;
    font-size: 18px;
}

.secondsection p {
    width: 80%;
    text-align: center;
}

.thirdsection img {
    border-radius: 50%;
    width: 60%;
    margin-left: 11%;
}

.thirdsection h5 {
    font-weight: bold;
    padding: 4% 0;
    font-size: 18px;
}

.thirdsection p {
    width: 80%;
    text-align: center;
}

.fourthsection img {
    border-radius: 50%;
    width: 60%;
    margin-left: 11%;
}

.fourthsection h5 {
    font-weight: bold;
    padding: 4% 0;
    font-size: 18px;
}

.fourthsection p {
    width: 80%;
    text-align: center;
}

.bottom-A {
    justify-content: space-around;
}

.bottom-A .btn1 {
    background-color: blue;
    padding: 0 2% ;
    border: 1px solid blue;
    border-radius: 25px;
    height: 40px;
    margin-top: 13%;
    color: white;
    margin-left: 18%;
}

.bottom-A .btn2 {
    color: blue;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 20%;
}

.sixth {
    margin-top: 7%;
}

.sectionsixth {
    display: flex;
}

.image img {
    width: 90%;
}

.paragraph h3 {
    font-weight: bold;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.paragraph{
    justify-content: space-between;
}

.paragraph p span {
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.paragraph p {
    padding: 2%;
    width: 90%;
}

.paragraph i {
    color: green;
    position: relative;
    margin-left: -5%;
    top: 35px;
    right: -20px;
    
}

.seventh {
    margin-top: 10%;
}

.header-B h2 {
    margin-left: 27%;
    font-weight: bold;
    font-size: 38px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header-B h5 {
    margin-left: 35%;
    font-size: 20px;
    padding: 1%;
    color: blue;
}

.images {
    display: flex;
    margin-top: 8%;
    /* align-items: center; */
    justify-content: space-between;
}

.img7 {
    align-items: center;
}

.img7 img{
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

.img7 p {
    text-align: center;
    padding: 8%;
    width: 45%;
}

.eighth {
    margin-top: 7%;
    height: 600px;
    background-color: rgb(17, 17, 209);
    background-image: url("../imgs/shape-a.png");
}

.sectioneight {
    display: flex;
    
}

.header-C {
    margin-top: 10%;
    width: 140%;
}

.header-C h3 {
    color: rgb(76, 155, 219);
    padding: 1.5% 0;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header-C h2 {
    color: white;
    padding-bottom: 3.5%;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header-C p span {
    color: white;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header-C p {
    padding: 2.5% 0;
    font-size: 18px;
    color: white;
    line-height: 25px;
}

.bottom-C {
    background-color: rgb(10, 10, 102);
    height: 500px;
    width: 75%;
    color: white;
    margin-left: 4%;
    line-height: 24px;
    margin-top: 5%;
    padding: 3.5%;
}

.bottom-C h4 {
    padding-bottom: 3.5%;
    padding-top: 2%;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.bottom-C ul li {
    list-style-type: none;
    padding: 1%;
}




.ninth {
    margin-top: 8%;
}

.header-D h3 {
    margin-left: 46%;
    color: blue;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header-D h2 {
    margin-left: 36%;
    padding: 1.5%;
    font-size: 35px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-D p {
    text-align: center;
    width: 75%;
    margin-left: 13%;
}



.sec-b img{
    margin-left: 18%;
    width: 75%;
    
}

.bottom-D {
    display: flex;
    margin-top: 15%;
}

.circle{
    margin-bottom: 20%;
    width: 150%;
    height: 160px;
}

.circle img{
    border-radius: 50%;
    width: 60%;
    left: 130px;
    top: -60px;
    position: relative;
    border: 3px solid red;
}

.circle p {
    color: blue;
    font-weight: bold;
}

.circle i {
    color: red;
    top: -137px;
    left: 190px;
    font-size: 25px;
    position: relative;
}

.circle-a{
    margin-bottom: 20%;
    width: 160%;
    height: 160px;
}

.circle-a img{
    border-radius: 50%;
    width: 60%;
    left: -130px;
    top: -60px;
    position: relative;
    border: 3px solid green;
}

.circle-a p {
    color: blue;
    margin-left: 20%;
    font-weight: bold;
}

.circle-a i {
    color: green;
    top: -145px;
    left: -65px;
    font-size: 25px;
    position: relative;
}

.tenth {
    margin-top: 6%;
    margin-bottom: 3%;
}

.header-M h3 {
    margin-left: 37%;
    font-size: 15px;
    color: blue;
    padding: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
    border: 2px solid blue;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .accordion i {
    position: absolute;
    right: 350px;
  }

.header-M h2 {
    margin-left: 27%;
    font-weight: bold;
    color: rgb(8, 8, 56);
    font-size: 35px;
    margin-bottom: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.eleventh {
    margin-top: 10%;
}

.not {
    margin-left: 37% !important;
}

.twelveth {
    background-color: rgb(12, 12, 82);
    background-image: url(../imgs/shape-a.png);
    height: 800px;
}

.footer-a img{
    width: 1%;
}

.footer-a{
    color: white;
    padding: 50px 0;
}

.footer-a p{
    padding: 10px 0;
}

.footer-a button{
    padding: 1% 3%;
    color: blue;
    margin-top: 5%;
    color: white;
    margin-left: 5%;
}

.footer-1 li{
    text-decoration: none;
    color: white;
    padding: 3.5%;
    list-style-type: none;
}

.footer-b{
    display: flex;
    justify-content: space-around;
    margin-bottom: 6%;
}



.footer-c{
    margin-top: 2%;
}

.footer-c p{
    padding: 1% 0;
    color: white;
}

